### [TODO] 코드 구현 : 캐글 가입하기

In [1]:
## 코드시작 ##
# 미션 1 코드 작성 : 캐글에 가입하고, 프로필명 공유하기

print('juhyun park')  # '...' 에 프로필명을 채워주세요

## 코드종료 ##

juhyun park

### [TODO] 코드 구현 : 학습 데이터에서 라벨 제거하기

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import os
from os.path import join

import pandas as pd
import numpy as np

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import KFold, cross_val_score
import xgboost as xgb
import lightgbm as lgb

import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 다운로드
!wget –no-check-certificate 'https://docs.google.com/uc?export=download&id=1IVvuG3SMlarSSGmcliGFjq1fMxZtksE0' -O kaggle-kakr-housing-data.zip

# 다운로드 받은 zip파일 압축풀기
!unzip -qq ./kaggle-kakr-housing-data.zip

train_data_path = './data/train.csv'
test_data_path = './data/test.csv'

data = pd.read_csv(train_data_path)
sub = pd.read_csv(test_data_path)
print('train data dim : {}'.format(data.shape))
print('sub data dim : {}'.format(sub.shape))

# data의 price를 y로 옮기기
y = data['price']

## 코드시작 ##
# 미션 2 코드 작성 : data에서 price 컬럼을 완전히 삭제하기

data = pd.DataFrame(data).drop('price', axis=1)


## 코드종료 ##

print(data.columns)

train_len = len(data) # 학습데이터의 수
data = pd.concat((data, sub), axis=0) # 학습데이터와 테스트 데이터 합치기

print(len(data)) # 합쳐진 데이터의 수
data.head() # 데이터 확인

data.info()

train data dim : (15035, 21)
sub data dim : (6468, 20)
Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')
21503
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21503 entries, 0 to 6467
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21503 non-null  int64
 1   date           21503 non-null  object
 2   bedrooms       21503 non-null  int64
 3   bathrooms      21503 non-null  float64
 4   sqft_living    21503 non-null  int64
 5   sqft_lot       21503 non-null  int64
 6   floors         21503 non-null  float64
 7   waterfront     21503 non-null  int64
 8   view           21503 non-null  int64
 9   condition      21503 non-null  int64
 10  grade          21503 non-null  int64
 11  sqft_above     21503 non-null  int64
 12  sqft_basement  21503 non-null  int64
 13  yr_built       21503 non-null  int64
 14  yr_renovated   21503 non-null  int64
 15  zipcode        21503 non-null  int64
 16  lat            21503 non-null  float64
 17  long           21503 non-null  float64
 18  sqft_living15  21503 non-null  int64
 19  sqft_lot15     21503 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.4+ MB

### [TODO] 코드 구현 : 결측치 데이터 비율 계산하기

In [ ]:
## 코드시작 ##
# 미션 3-1 코드 작성 : data에 isna와 sum을 적용하여 각 컬럼의 결측치 수를 확인해보세요.

missing = data.isna().sum() # '...' 을 코드로 채워주세요
print(missing)


## 코드종료 ##

missing/data.shape[0]

data.describe()

Ellipsis

TypeError: unsupported operand type(s) for /: 'ellipsis' and 'int'

ALL RIGHTS RESERVED. (C)NAVER Connect Foundation.